@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
body {
  margin: 0;
  background: #fafafa;
  color: #4c4e61;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
}

.text-weight-light {
  font-weight: 200;
}

.text-color-lighter {
  color: #a3a5ae;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px auto;
}

.header {
  max-width: 504px;
  text-align: center;
}

.header h1 {
  font-size: 2.2rem;
  line-height: 1.4;
  letter-spacing: 0.035rem;
}

.card-container {
  margin: 3rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.card-container .card {
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 30px -6px rgba(76, 78, 97, 0.3);
          box-shadow: 0px 10px 30px -6px rgba(76, 78, 97, 0.3);
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 350px;
  min-height: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-container .card--cyan {
  border-top: 4px solid #45d3d3;
  grid-row: span 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-container .card--red {
  border-top: 4px solid #ea5353;
}

.card-container .card--orange {
  border-top: 4px solid #fcaf4a;
  -ms-grid-column: 2;
  grid-column: 2;
}

.card-container .card--blue {
  border-top: 4px solid #549ef2;
  grid-row: span 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-container .card h3 {
  margin: 0;
  font-size: 1.25rem;
}

.card-container .card p {
  font-size: 0.813rem;
  line-height: 1.8;
}

.card-container .card h3 + p {
  margin-top: 0.3rem;
}

.card-container .card .card-image {
  padding-top: 1.4rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 1200px) {
  .card-container {
    -ms-grid-columns: (minmax(350px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(350px, 1fr));
  }
  .card-container .card--cyan {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card-container .card--red {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card-container .card--orange {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .card-container .card--blue {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media only screen and (max-width: 820px) {
  .card-container {
    -ms-grid-columns: minmax(350px, 1fr);
        grid-template-columns: minmax(350px, 1fr);
  }
  .card-container .card--cyan {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card-container .card--red {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .card-container .card--orange {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .card-container .card--blue {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

@media only screen and (max-width: 520px) {
  .header {
    max-width: 86vw;
  }
  h1 {
    font-size: 1.6rem;
    letter-spacing: -0.035rem;
  }
  .card-container {
    -ms-grid-columns: minmax(312px, 1fr);
        grid-template-columns: minmax(312px, 1fr);
    gap: 25px;
  }
  .card-container .card {
    max-width: 312px;
    min-height: 220px;
    padding: 30px;
  }
  .card-container .card--cyan {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .card-container .card--red {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .card-container .card--orange {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .card-container .card--blue {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .card-container .card .card-image {
    padding-top: 0rem;
  }
}
/*# sourceMappingURL=styles.css.map */